.wrapper {
    width: 90%;
    margin: 10px auto 10px;
    box-shadow: 0 0 10px 0 silver;
}


/*  header  */

.header {
    background-color: #232f3e;
    border-radius: 10px 10px 0 0;
    color: #fff;
}

.header a {
    color: #bcbdc7;
    transition: all 0.3s linear;
}

.topinfo {
    border-bottom: 1px solid #303e4f;
    justify-content: space-between;
}


.accountlistlink{
    display: block;
    padding: 5px 12px;
}


.accountlistlink>i {
    padding-left: 2px;
}

.accountlistlink:hover {
    color: #fff;
}

.languages {
    padding: 5px 0 0 12px;
}

.fa-icon {
    width: 20px;
    vertical-align: middle;
}

.header-info {
    padding: 20px;
    border-bottom: 1px solid #303e4f;
}

.searchbox {
    flex-grow: 1;
    justify-content: center;
    height: 40px;
}

.categoryslist{
    border: none;
    padding: 8px 30px;
    border-radius: 0 20px 20px 0;
}

.searchinput {
    border:none;
    padding: 8px 40px;
}

.btnsearch {
    padding: 10px 20px;
    background-color: #F4A137;
    color: #fff !important;
    border-radius: 20px 0 0 20px;
}

.contactus {
    margin: 0 0.8em;
    font-size: 0.8em;
}

.contactusicon {
    font-size: 2em;
    padding: 5px 10px;
}

.cart {
    font-size: 0.8em;
}

.basket{
    margin-top: -8px;
}

.carticon {
    background-color: #F4A137;
    padding: 8px;
    font-size: 0.8em;
}

.topnav {
    position: relative;
}

.topnavlink {
    display: block;
    padding: 10px 15px;
    font-size: 0.9em;
    position: relative;
}

.topnavlink:hover {
    color: #fff;
}

.topnavitem:hover>.submenu {
    display: block;
}

.hotcategory::before {
    content: ' ';
    position: absolute;
    background-image: url(../images/icons/hot-icon.png);
    width: 35px;
    height: 22px;
    top: -7px;
    right: 18%;
}

.submenu {
    display: none;
    width: 100%;
    height: 200px;
    background-color: #bcbdc7;
    position: absolute;
    top: 100%;
    right: 0;
}

.submenucontainer {
    position: relative;
    width: 100%;
    height: 100%;
}

.submenuimage {
    position: absolute;
    width: 200px;
    bottom: 0;
    left: 0;
}

.submenulist {
    height: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
}

.submenulistitem {
    width: 15%;
}



/*  main  */

.main {
    background-color: #fff;
}


.slider {
    height: 422px;
    padding: 15px;
}

.banner {
    width: 285px;
    height: 422px;
}

.r_ads {
    width: 25%;
    margin-left: 15px;
}

.l_ads {
    flex-grow: 1;
}

.r_ads img,
.l_ads img {
    width: 100%;
    height: 100%;
}

.topproductitem {
    flex-grow: 1;
    padding: 20px;
}

.topproduct {
    background-color: #F2F2F2;
}

.topproductimage img {
    border-radius: 50%;
    padding-left: 12px;
}
.topproductitem {
    align-self: center;
}

.ts_detial {
    flex-grow: 2;
    border:1px solid #DDDDDD;
    margin: 20px;
    width: 40%;
}

.like {
    margin-right: 5px;
}

.ts_list {
    flex-grow: 3;
    width: 60%;
}

.ts_productlist {
    flex-wrap: wrap;
}

.ts_productitem {
    width: 33%;
    flex-grow: 1;
}

.ts_productitemdetail {
    border:1px solid #DDDDDD;
    margin: 10px;
    padding: 15px;
}

.productimage {
    width: 100%;
}

.producttitle {
    color: #000;
    display: block;
}

.producttitle:hover {
    color: #f4a137;
}
.priceitem {
    color: red;
}

.priceitem_old {
    text-decoration: line-through;
    color: #999;
    font-size: 13px;
}

.productaction {
    margin: 15px 0;
}

.productimageoverlay {
    position: relative;
    overflow: hidden;
}

.imageoverlay {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.3s ease;
}
 
.ts_productitemdetail:hover {
    box-shadow: 0 0 10px 0 silver;    
}

.ts_productitemdetail:hover .imageoverlay  {
    top: 0;
    opacity: 1;
}

.ts_productitemdetail:hover .btn_default {
    top: 40%;
    opacity: 1;
}
.ts_productitemdetail .btn_default {
    position: absolute;
    top: -100%;
    right: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.3s ease;
}

.sliderthumb {
    border: 1px solid #ddd;
    margin-left: 10px;
}

.bannor {
    padding: 15px;
}
.bannor img{
    width: 100%;
    display: block;
}

.newproductitem {
    width: 25%;
}

.collectionitem {
    width: 16.5%;
    flex-grow: 1;
}
 
.collectiondetiolitem {
    background-color: #eee;
    border: 1px solid transparent;
}

.collectiondetiolitem:hover {
    border-color: #f4a137;
    background-color: #fff;
}

.collectiondetiolitem {
    margin: 5px;
}
 
.collectionlink {
    display: block;
    border-bottom: 3px solid #f4a137;
    position: relative;
}

.collectiontitle {
    position: absolute;
    top: 10px;
    right: 0;
    display: block;
    color: #999;
    text-align: center;
    font-weight: bold;
    width: 100%;
}
